/**
 * file: css/css.css
 * purpose: styling
 **/

/* Remove whitespace on top of certain browsers */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* Jura som basis-font */
  font-family: "Jura", sans-serif;
  font-weight: 400;

  background-color: var(--farve_moonlightwhite);
}

html,
body {
  max-width: 100%;
  overflow-x: hidden; /* forhindrer scroll ud af skærmview */
}

/* Design system */

/* Farver */
:root {
  --farve_mørkebrun: #282119;
  --farve_mørkeorange: #a54d27;
  --farve_beige: #e5d8bd;
  --farve_moonlightwhite: #fffdf2;

  --farve_brun: #65371f;
  --farve_orange: #c97338;
}

/* Tekst udseende*/
/* .jura-<uniquifier> {
  font-family: "Jura", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;} */

/* font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal; */

/*h1
Herooverskrift*/
h1 {
  font-family: "JetBrains Mono", monospace;
  font-size: 48px;
  font-weight: 400; /*regular*/
  text-shadow: var(--farve_mørkebrun) 0px 1px 0px;
}

/*h2*/
.h2-day,
.h2-night {
  font-family: "JetBrains Mono", monospace;
  font-weight: 700; /*bold*/
  font-size: 32px;
}

/*Overskrifter i sektioner*/
.h2-day {
  color: var(--farve_mørkebrun);
}

.h2-night {
  color: var(--farve_moonlightwhite);
}

/*h3*/
.h3-hero-underoverskrift,
.h3-influencer-day,
.h3-influencer-night,
.h3-hero-luminaLogo,
.h3-hero-luminaLogo:hover {
  font-family: "jura", sans-serif;
  font-weight: 600; /* semibold */
  font-size: 32px;
}

/*underoverskrift (hero)*/
.h3-hero-underoverskrift {
  color: var(--farve_moonlightwhite);
}

/* Influencer – day */
.h3-influencer-day {
  color: var(--farve_mørkeorange);
}

/* Influencer – night */
.h3-influencer-night {
  color: var(--farve_orange);
}

/*lumina audio logo hero*/
.h3-hero-luminaLogo {
  color: var(--farve_moonlightwhite);
}

/* Hove til logo */
.h3-hero-luminaLogo:hover {
  color: var(--farve_beige);
  text-shadow: var(--farve_mørkebrun) 2px 2px 4px;
}

/*h4*/
.h4-ctaDropdown--day:hover,
.h4-ctaDropdown--day,
.h4-ctaDropdown--night,
.h4-ctaDropdown--night:hover,
.h4-pris--night,
.h4-pris--day,
.h4-influencer--day,
.h4-influencer--night {
  font-family: "jura", sans-serif;
  font-weight: 700; /*bold*/
  font-size: 16px;
}

/* Farvevarianter */
.h4-ctaDropdown--day {
  color: var(--farve_moonlightwhite);
}
.h4-ctaDropdown--day:hover {
  color: var(--farve_beige);
}
.h4-ctaDropdown--night {
  color: var(--farve_mørkebrun);
}
.h4-ctaDropdown--night:hover {
  color: var(--farve_brun);
}
.h4-influencer--day {
  color: var(--farve_mørkeorange);
}
.h4-influencer--night {
  color: var(--farve_orange);
}
.h4-pris--day {
  color: var(--farve_moonlightwhite);
}
.h4-pris--night {
  color: var(--farve_mørkebrun);
}

/*h5*/
.h5-multi--day:hover,
.h5-multi--day,
.h5-multi--night,
.h5-multi--night:hover,
.h5-multi2--night,
.h5-multi2--day,
.h5-influencer--day,
.h5-influencer--night {
  font-family: "jura", sans-serif;
  font-weight: 600; /*semibold*/
  font-size: 16px;
}

/* Farvevarianter */
.h5-multi--day {
  color: var(--farve_moonlightwhite);
}
.h5-multi--day:hover {
  color: var(--farve_beige);
}
.h5-multi--night {
  color: var(--farve_mørkebrun);
}
.h5-multi--night:hover {
  color: var(--farve_brun);
}
.h5-influencer--day {
  color: var(--farve_mørkeorange);
}
.h5-influencer--night {
  color: var(--farve_orange);
}
.h5-multi2--night {
  color: var(--farve_moonlightwhite);
}
.h5-multi2--day {
  color: var(--farve_mørkebrun);
}

/*h6*/
.h6-underoverskrifterFeatures--day,
.h6-underoverskrifterFeatures--day:hover,
.h6-underoverskrifterFeatures--night,
.h6-underoverskrifterFeatures--night:hover,
.h6-footerOverskrift--day,
.h6-footerOverskrift--night {
  font-family: "jura", sans-serif;
  font-weight: 700; /*bold*/
  font-size: 24px;
}

/* Farvevarianter */
.h6-underoverskrifterFeatures--night {
  color: var(--farve_moonlightwhite);
  margin-top: 32px;
  margin-bottom: 32px;
}
.h6-underoverskrifterFeatures--night:hover {
  color: var(--farve_beige);
  margin-top: 32px;
  margin-bottom: 32px;
}
.h6-underoverskrifterFeatures--day {
  color: var(--farve_mørkebrun);
  margin-top: 32px;
  margin-bottom: 32px;
}
.h6-underoverskrifterFeatures--day:hover {
  color: var(--farve_brun);
  margin-top: 32px;
  margin-bottom: 32px;
}
.h6-footerOverskrift--day {
  color: var(--farve_moonlightwhite);
  margin-bottom: 8px;
}
.h6-footerOverskrift--night {
  color: var(--farve_mørkebrun);
  margin-bottom: 8px;
}

/*p*/
.p-footerRating--day:hover,
.p-footerRating--day,
.p-footerRating--night,
.p-footerRating--night:hover,
.p-brødtekst--night,
.p-brødtekst--day,
.p-influencerBrødtekst--day,
.p-influencerBrødtekst--night {
  font-family: "Jura", sans-serif;
  font-weight: 400; /* REGULAR */
  font-size: 16px;
}

/* Farvevarianter */
.p-footerRating--night {
  color: var(--farve_moonlightwhite);
  cursor: pointer;
  margin-top: 24px;
}
.p-footerRating--night:hover {
  color: var(--farve_beige);
  cursor: pointer;
  margin-top: 24px;
}
.p-footerRating--day {
  color: var(--farve_mørkebrun);
  cursor: pointer;
  margin-bottom: 32px;
  margin-top: 0;
}
.p-footerRating--day:hover {
  color: var(--farve_brun);
  cursor: pointer;
  margin-bottom: 32px;
  margin-top: 0;
}
.p-influencerBrødtekst--day {
  color: var(--farve_mørkeorange);
}
.p-influencerBrødtekst--night {
  color: var(--farve_orange);
}
.p-brødtekst--night {
  color: var(--farve_moonlightwhite);
}
.p-brødtekst--day {
  color: var(--farve_mørkebrun);
}
/* Design system slutter */

/* Header starter*/
header {
  position: absolute;
  background-color: transparent;
  top: 0;
  width: 100%;
  padding-left: 32px;
  padding-right: 32px;
  z-index: 10;
  box-sizing: border-box;
}

/*læg teksten i midten vertikalt og horisontalt*/
#topNav {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
}

.menu {
  justify-content: flex;
  align-items: center;
}

#TopLogo {
  position: absolute;
  margin-left: 560px;
  display: flex;
  align-items: center;
  top: 32px;
}

#TopLogo img {
  height: 97px;
  width: 236px;
}

.ikoner {
  display: flex;
  align-items: center;
  gap: 16px;
}
/* Header slutter*/

/* 1. sektion med hero starter */
.HeroSektion {
  position: relative;
  height: 800px;

  /* Herobilledet i baggrunden*/
  background-image: url("../images/billeder-fra-figma/hero.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding-top: 200px;
  color: var(--farve_moonlightwhite);
}

.HeroTekst {
  height: 142px;
  width: 523px;
  margin-left: 160px;
  margin-top: 104px;
}

.heroundertekst {
  height: 92px;
  width: 523px;
}

/*day/night slider*/
.switch {
  position: relative;
  display: inline-block;
}

/* Skjul standard HTML checkbox */
.switch input {
  opacity: 0;
}

/* Slideren */
.slider {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px; /* afstand mellem tekst */
  padding: 8px 16px;
  background-color: var(--farve_mørkebrun);
  cursor: pointer;
  transition: 0.4s ease-out;
}

.slider:hover {
  background-color: var(--farve_brun);
}

/* Teksten inde i slideren */
.slider .h5-multi--day,
.slider .h5-multi--night {
  margin: 0; /* ingen ekstra margin omkring teksten */
}

/* Cirklen inde i slider */
.slider:before {
  position: relative;
  content: "";
  height: 24px;
  width: 24px;
  background-color: var(--farve_moonlightwhite);
  transition: 0.4s ease-out;
}

/* Når slideren er tjekket */
input:checked + .slider {
  background-color: var(--farve_moonlightwhite);
}

/* Når slideren er i fokus */
input:focus + .slider {
  box-shadow: 0 0 5px var(--farve_mørkebrun);
}

/* Flyt cirklen når slideren er tjekket */
input:checked + .slider:before {
  transform: translateX(24px);
}

/* Runde sliders */
.slider.round {
  border-radius: 40px;
}

/* Runde cirkler inde i slider */
.slider.round:before {
  border-radius: 50%;
}

/* Placering af slider under hero tekst */
#slider {
  margin: 0;
  position: absolute;
  top: 80%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* 1. sektion slutter */

/* CTA i sektion 1 og 2*/
.button1,
.button-button2 {
  margin-top: 32px;
  background-color: var(--farve_mørkebrun);
  border: none;
  color: var(--farve_moonlightwhite);
  padding: 16px 24px;
  text-align: center;
  font-family: "jura", sans-serif;
  font-weight: 700; /*bold*/
  font-size: 16px;
  display: inline-block;
  cursor: pointer;
  border-radius: 40px; /*kanterne bliver afrundet */
}

/* Knap hover effekter */
.button1:hover {
  background-color: var(--farve_brun);
  color: var(--farve_beige);
  box-shadow: var(--farve_mørkebrun) 1px 1px 4px;
}

.button-button2:hover {
  background-color: var(--farve_brun);
  color: var(--farve_beige);
  box-shadow: var(--farve_mørkebrun) 1px 1px 4px;
}

/* 2. sektion med produkt starter */
#sektionProdukt {
  width: 100%;
  height: 800px;
  background-color: var(--farve_moonlightwhite);
  color: var(--farve_mørkebrun);
}

.container-a {
  display: flex; /* aktiverer flexbox */
  justify-content: center; /* centrerer indhold vandret */
  align-items: center; /* centrerer vertikalt (valgfrit) */
  gap: 216px; /* afstand mellem billede og tekst */
  margin-top: 80px;
}

.billede1 {
  width: 388px;
  height: auto;
  display: block;
  border-radius: 90px; /* Juster denne værdi for at ændre rundingen */
}

.luminadagen {
  max-width: 440px;
}
.stjerner {
  margin-top: 16px;
  margin-left: -8px;
}

#farvePrikker {
  display: flex;
  gap: 8px;
  align-items: center;
}

.farvePrik {
  width: 16px;
  height: 16px;
  cursor: pointer;
  transition: 0.2s;
  display: block;
}

.farvePrik.valgt {
  width: 24px;
  height: 24px;
}

.farvevalg {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  padding: 0;
  margin: 0;
}

/*Mellemrum mellem knap og pris*/
.button-button2 {
  margin-right: 10px; /* Tilføjer 10 pixels mellemrum */
}

.tekst {
  margin-left: 200px; /* Tilføjer mellemrum */
  font-family: "jura", sans-serif;
  font-weight: 700; /*bold*/
  font-size: 16px;
  color: var(--farve_mørkebrun);
}

.vandret-linje1 {
  border-bottom: 1px solid var(--farve_mørkebrun); /* Opret en sort linje */
  width: 440px;
}
/* 2. sektion slutter */

/* 3. sektion med features starter */
#sektionFeatures {
  width: 100%;
  height: 1088px;
  background-color: var(--farve_moonlightwhite);
}

.tekst-video {
  display: flex; /* aktiverer flexbox */
  align-items: center; /* centrerer vertikalt (valgfrit) */
  gap: 104px; /* afstand mellem billede og tekst */
  margin-left: 88px;
  margin-right: 88px;
  cursor: pointer;
}
.video {
  width: auto;
  height: 672px;
  display: block;
  border-radius: 90px; /* runder hjørner */
  overflow: hidden; /* gør at indholdet bliver klippet */
  object-fit: cover;
}

/*mellemrum mellem tekst og linjer*/
/* Gør hver feature til en blok, så teksten kommer under */
.feature {
  display: block;
}

/* skjult tekst */
.featureText {
  display: none;
  margin-top: 8px;
  margin-bottom: 16px; /* afstand TIL næste linje */
  max-height: 0;
  overflow: hidden;
  padding-left: 40px;
  transition: 0.3s ease;
  max-width: 486px;
}

/* når open-klassen er tilføjet */
.feature.open .featureText {
  display: block;
  max-height: 200px; /* Tekst */
}

/* plus ikon roteres som minus */
.feature.open .PlusUhover {
  transition: transform 0.2s ease;
}

.featureSocial,
.featureDesign,
.featurePower,
.featureSound {
  display: flex;
  align-items: center;
  margin-inline-start: 40px;
  gap: 8px; /* ikon → tekst afstand */
}

/* Tekst  til plus ikon afstand */
.featureSound h6 {
  margin-right: 352px; /* tekst → plus ikon */
}

/* Tekst til plus ikon afstand */
.featureDesign h6 {
  margin-right: 344px; /* tekst → plus ikon */
}

/* Tekst  til plus ikon afstand */
.featurePower h6 {
  margin-right: 360px; /* tekst → plus ikon */
}

/* Tekst til plus ikon afstand */
.featureSocial h6 {
  margin-right: 208px; /* tekst → plus ikon */
}

.vandret-linje2 {
  border-bottom: 1px solid var(--farve_mørkebrun); /* Opret en sort linje */
  width: 566px;
  margin-top: 8px;
  margin-bottom: 8px;
}
/* 3. sektion slutter */

/* 4. sektion med influencer Luminate yourself starter */
#LuminateYourselfSektion {
  width: 100%;
  height: 744px;
  background-color: var(--farve_moonlightwhite);
}
.SHARE {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 50px;

  color: var(--farve_mørkeorange);
  background-color: var(--farve_moonlightwhite);
}

.Luminatesektion {
  height: 50%; /* fylder halvdelen af siden i højden */
  display: flex;
  justify-content: center; /* I midten horisontalt */
  align-items: center; /* i midten vertikalt */
  background-color: var(--farve_moonlightwhite);
}

.scroll {
  width: 100%;
  max-width: 100%;
  height: 450px;
  background-color: var(--farve_moonlightwhite);

  overflow-x: auto;
  overflow-y: hidden;
}

.scroll .scroll-elementer {
  display: flex;
  width: max-content;
  height: 450px;
}

.scroll img {
  flex: 0 0 auto;
  width: 345px;
  height: 345px;
  margin: 10px;
  object-fit: contain;
}
/* 4. sektion slutter */

/* Footer starter */
.footer {
  width: 100%;
  padding: 40px 80px;
  background: var(--farve_mørkebrun);
  color: var(--farve_moonlightwhite);

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; /* Definerer 4 kolonner af lige bredde */
}

.col-4 {
  display: flex;
  flex-direction: column;
}

.copyright {
  margin-top: auto; /* skubber copyright ned i bunden af kolonnen */
}
/* footer slutter*/

/* Define variables in the :root */

/* Use your variables on elements along these lines */
/*
:root {
  --contrast: lime;
  --backgr: #000;
}

--- You can use the variables like this ---

 main {
   color: var(--contrast);
   background-color: var(--backgr);
 }
*/
