/**
 * file: css/css.css
 * purpose: styling
 **/

/* Remove whitespace on top of certain browsers */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* Jura som basis-font */
  font-family: "Jura", sans-serif;
  font-weight: 400;

  background-color: var(--farve_mørkebrun);
}

/* Standard afstand mellem sektionerne */
#sektionFeatures,
#LuminateYourselfSektion {
  margin-top: 400px;
}

/* Design system */

/* Farver */
:root {
  --farve_mørkebrun: #282119;
  --farve_mørkeorange: #a54d27;
  --farve_beige: #e5d8bd;
  --farve_moonlightwhite: #fffdf2;

  --farve_brun: #65371f;
  --farve_orange: #c97338;
}

/* Design system */

/* Tekst udseende*/
/* .jura-<uniquifier> {
  font-family: "Jura", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;} */

/* font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal; */

/*h1
Herooverskrift*/
h1 {
  font-family: "JetBrains Mono", monospace;
  font-size: 48px;
  font-weight: 400; /*regular*/
  text-shadow: var(--farve_mørkebrun) 0px 1px 0px;
}

/*h2*/
.h2-day,
.h2-night {
  font-family: "JetBrains Mono", monospace;
  font-weight: 700; /*bold*/
  font-size: 32px;
}

/*Overskrifter i sektioner*/
.h2-day {
  color: var(--farve_mørkebrun);
}

.h2-night {
  color: var(--farve_moonlightwhite);
}

/*h3*/
.h3-hero-underoverskrift,
.h3-influencer-day,
.h3-influencer-night,
.h3-hero-luminaLogo {
  font-family: "jura", sans-serif;
  font-weight: 600; /* semibold */
  font-size: 32px;
}

/*underoverskrift (hero)*/
.h3-hero-underoverskrift {
  color: var(--farve_moonlightwhite);
}

/* Influencer – day */
.h3-influencer-day {
  color: var(--farve_mørkeorange);
}

/* Influencer – night */
.h3-influencer-night {
  color: var(--farve_orange);
}

/*lumina audio logo hero*/
.h3-hero-luminaLogo {
  color: var(--farve_moonlightwhite);
}

/* Hove til logo */
.h3-hero-luminaLogo:hover {
  color: var(--farve_beige);
  text-shadow: var(--farve_mørkebrun) 2px 2px 4px;
}

/*h4*/
.h4-ctaDropdown--day:hover,
.h4-ctaDropdown--day:hover,
.h4-ctaDropdown--night,
.h4-ctaDropdown--night:hover,
.h4-footer-overskrift--night,
.h4-footer-title--day,
.h4-influencer--day,
.h4-influencer--night {
  font-family: "jura", sans-serif;
  font-weight: 700; /*bold*/
  font-size: 16px;
}

/* Farvevarianter */
.h4-ctaDropdown--day {
  color: var(--farve_moonlightwhite);
}
.h4-ctaDropdown--day:hover {
  color: var(--farve_beige);
  text-shadow: var(--farve_mørkebrun) 2px 2px 4px;
}
.h4-ctaDropdown--night {
  color: var(--farve_mørkebrun);
}
.h4-ctaDropdown--night:hover {
  color: var(--farve_brun);
  text-shadow: var(--farve_mørkebrun) 2px 2px 4px;
}
.h4-influencer--day {
  color: var(--farve_mørkeorange);
}
.h4-influencer--night {
  color: var(--farve_orange);
}
.h4-footer-title--day {
  color: var(--farve_moonlightwhite);
}
.h4-footer-overskrift--night {
  color: var(--farve_mørkebrun);
}

/*h5*/
.h5-multi--day:hover,
.h5-multi--day:hover,
.h5-multi--night,
.h5-multi--night:hover,
.h5-multi2--night,
.h5-multi2--day,
.h5-influencer--day,
.h5-influencer--night {
  font-family: "jura", sans-serif;
  font-weight: 600; /*semibold*/
  font-size: 16px;
}

/* Farvevarianter */
.h5-multi--day {
  color: var(--farve_moonlightwhite);
}
.h5-multi--day:hover {
  color: var(--farve_beige);
  text-shadow: var(--farve_mørkebrun) 2px 2px 4px;
}
.h5-multi--night {
  color: var(--farve_mørkebrun);
}
.h5-multi--night:hover {
  color: var(--farve_brun);
  text-shadow: var(--farve_mørkebrun) 2px 2px 4px;
}
.h5-influencer--day {
  color: var(--farve_mørkeorange);
}
.h5-influencer--night {
  color: var(--farve_orange);
}
.h5-multi2--night {
  color: var(--farve_moonlightwhite);
}
.h5-multi2--day {
  color: var(--farve_mørkebrun);
}

/*h6*/
.h6-underoverskrifterFeatures--day,
.h6-underoverskrifterFeatures--day:hover,
.h6-underoverskrifterFeatures--night,
.h6-underoverskrifterFeatures--night:hover,
.h6-footerOverskrift--day,
.h6-footerOverskrift--night {
  font-family: "jura", sans-serif;
  font-weight: 700; /*bold*/
  font-size: 24px;
}

/* Farvevarianter */
.h6-underoverskrifterFeatures--night {
  color: var(--farve_moonlightwhite);
}
.h6-underoverskrifterFeatures--night:hover {
  color: var(--farve_beige);
  text-shadow: var(--farve_mørkebrun) 2px 2px 4px;
}
.h6-underoverskrifterFeatures--day {
  color: var(--farve_mørkebrun);
}
.h6-underoverskrifterFeatures--day:hover {
  color: var(--farve_brun);
  text-shadow: var(--farve_mørkebrun) 2px 2px 4px;
}
.h6-footerOverskrift--day {
  color: var(--farve_moonlightwhite);
}
.h6-footerOverskrift--night {
  color: var(--farve_mørkebrun);
}

/*p*/
.p-footerRating--day:hover,
.p-footerRating--day:hover,
.p-footerRating--night,
.p-footerRating--night:hover,
.p-brødtekstRating--night,
.p-brød--day,
.p-influencerBrødtekst--day,
.p-influencerBrødtekst--night {
  font-family: "Jura", sans-serif;
  font-weight: 400; /* REGULAR */
  font-size: 16px;
}

/* Farvevarianter */
.p-footerRating--night {
  color: var(--farve_moonlightwhite);
}
.p-footerRating--night:hover {
  color: var(--farve_beige);
  text-shadow: var(--farve_mørkebrun) 2px 2px 4px;
}
.p-footerRating--day {
  color: var(--farve_mørkebrun);
}
.p-footerRating--day:hover {
  color: var(--farve_brun);
  text-shadow: var(--farve_mørkebrun) 2px 2px 4px;
}
.p-influencerBrødtekst--day {
  color: var(--farve_mørkeorange);
}
.p-influencerBrødtekst--night {
  color: var(--farve_orange);
}
.p-brødtekst--night {
  color: var(--farve_moonlightwhite);
}
.p-brødtekst--day {
  color: var(--farve_mørkebrun);
}

/* Hero start */

header {
  position: relative;
  height: 100vh;
  background-color: var(--farve_mørkebrun);

  /* Herobilledet i baggrunden*/
  background-image: url("../images/herodark.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}

/*læg teksten i midten vertikalt og horisontalt*/

#topNav {
  display: flex;
  justify-content: space-between;
  margin-left: 40px;
  margin-right: 32px;
  margin-top: 40px;
  height: 136px;
}

#TopLogo {
  margin-left: 136px;
}

.HeroTekst {
  height: 142px;
  width: 523px;
  margin-left: 160px;
  margin-top: 104px;
  color: var(--farve_moonlightwhite);
}

.heroundertekst {
  height: 92;
  width: 523px;
  margin-top: 8px;
}

.button1,
.button-button2 {
  margin-top: 32px;
  background-color: var(--farve_moonlightwhite);
  border: none;
  color: var(--farve_brun);
  padding: 16px 24px;
  text-align: center;
  font-family: "jura", sans-serif;
  font-weight: 700; /*bold*/
  font-size: 16px;
  display: inline-block;
  cursor: pointer;
}
.button1:hover {
  background-color: var(--farve_beige);
  color: var(--farve_mørkebrun);
  box-shadow: var(--farve_mørkebrun) 1px 1px 4px;
}

.button-button2:hover {
  background-color: var(--farve_beige);
  color: var(--farve_mørkebrun);
  box-shadow: var(--farve_mørkebrun) 1px 1px 4px;
}

/* runde kanter på knap */
.button1,
.button-button2 {
  border-radius: 40px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--farve_mørkebrun);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--farve_moonlightwhite);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--farve_mørkeorange);
}

input:focus + .slider {
  box-shadow: 0 0 5px var(--farve_mørkeorange);
}

input:checked + .slider:before {
  -webkit-transform: translateX(46px);
  -ms-transform: translateX(46px);
  transform: translateX(46px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Slider position på siden */
#slider {
  height: 300px;
  position: relative;
}

#slider {
  margin: 0;
  position: absolute;
  top: 100%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#pil {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--farve_moonlightwhite);
}

/* Hero slut */

/* 1. Sektion*/
#sektionProdukt {
  width: 100%;
  height: 700px;
  background-color: var(--farve_mørkebrun);
  color: var(--farve_moonlightwhite);
}

.billede1 {
  display: block;
  box-shadow: 0 6px 20px #a54d27(0, 0, 0, 0.2);
}
/*placering af billede*/
.container-a img {
  flex: 0 0 30%; /* billedet tager 25% af bredden */
  width: 300;
  max-width: 100%;
  height: auto;
}

.container-a {
  display: flex; /* aktiverer flexbox */
  justify-content: center; /* centrerer indhold vandret */
  align-items: center; /* centrerer vertikalt (valgfrit) */
  gap: 200px; /* afstand mellem billede og tekst */
  min-height: 100vh; /* så det kan centreres lodret */
}

/*størrelse på stjerner og farvepalette*/
.container-a img {
  width: 100px; /* giv billedet en fast bredde */
  height: auto; /* bevar proportioner */
}
.farvevalg {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*afrunding af hjørner på højtaler*/
.container-a img {
  border-radius: 90px; /* Juster denne værdi for at ændre rundingen */
  box-shadow: 0 0px 20px #e5d8bd(0, 0, 0, 0.2);
}

/*CTA knap i sektion 1 og 3*/
.button-button2 {
  background-color: var(--farve_moonlightwhite);
  border: none;
  color: var(--farve_mørkebrun);
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.4em;
  margin: 30px 0px;
  font-family: "Jura", sans-serif;
}

/*Knap bliver rund*/
.button-button2 {
  border-radius: 40px;
}

/*Mellemrum mellem knap og pris*/
.button-button2 {
  margin-right: 10px; /* Tilføjer 10 pixels mellemrum */
}
.tekst {
  margin-left: 200px; /* Tilføjer 10 pixels mellemrum */
  font-family: "Jura", sans-serif;
  font-size: 1.2em;
}

/*Vandrette linjer i både sektion 1, 2 og 3*/
.vandret-linje {
  border-bottom: 1px solid var(--farve_moonlightwhite); /* Opret en sort linje */
  width: 566px;
}

/* 2. Sektion */
#sektionFeatures {
  width: 100%;
  height: 700px;
  background-color: var(--farve_mørkebrun);
  color: var(--farve_moonlightwhite);
}

.flex-container {
  display: flex; /* aktiverer flexbox */
  justify-content: space-between; /* centrerer indhold vandret */
  align-items: center; /* centrerer vertikalt (valgfrit) */
  gap: 0px; /* afstand mellem billede og tekst */
  min-height: 100vh; /* så det kan centreres lodret */
  margin-left: 88px;
  margin-right: 88px;
}
video {
  margin-left: -150px;
}
.video-content {
  width: 400px;
  max-width: 500px;
  height: 590px;
  display: block;
  border-radius: 90px; /* ændr efter behov */
  overflow: hidden; /* forsikrer at indholdet bliver klippet */
  box-shadow: 0 0px 5px #e5d8bd(0, 0, 0, 0.2);
  object-fit: none; /* sørger for at videoen fylder pænt, hvis højde/bredde er sat */
}

/*mellemrum mellem tekst og linjer*/
.feature {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px;
}

.featureSocial,
.featureDesign,
.featurePower,
.featureSound {
  display: flex;
  align-items: center;
  margin-inline-start: 40px;
  gap: 8px; /* ikon → tekst afstand */
}

/* Tekst  til plus ikon afstand */
.featureSound h6 {
  margin-right: 352px; /* tekst → plus ikon */
}

/* Tekst til plus ikon afstand */
.featureDesign h6 {
  margin-right: 344px; /* tekst → plus ikon */
}

/* Tekst  til plus ikon afstand */
.featurePower h6 {
  margin-right: 360px; /* tekst → plus ikon */
}

/* Tekst til plus ikon afstand */
.featureSocial h6 {
  margin-right: 208px; /* tekst → plus ikon */
}

/*Sektion 4 Luminate yourself */

#LuminateYourselfSektion {
  background-color: var(--farve_mørkebrun);
}
.SHARE {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 50px;

  color: var(--farve_orange);
  background-color: var(--farve_mørkebrun);
}

.Luminatesektion {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: karrusel-animation 20s infinite alternate;
  background-color: var(--farve_mørkebrun);
}
.karrusel {
  width: 100%;
  height: 450px;
  background-color: var(--farve_mørkebrun);

  .slides {
    width: 300%;
    height: 450px;
    display: flex;
  }

  img {
    width: calc(50% / 7);
    height: 400px;
    margin: 10px;
    object-fit: contain;
  }
}

@keyframes karrusel-animation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-60%);
  }
}

/*Footer*/

.footer {
  margin-top: 50px;
  width: 100%;
  padding: 100px 5%;
  background: var(--farve_beige);
  color: var(--farve_mørkebrun);
  margin-bottom: 10px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; /* Definerer 4 kolonner af lige bredde */
  gap: 60px; /* Sætter et 50px mellemrum mellem kolonner og rækker */
  a {
    margin-left: 0px;
  }
}

.col-3 {
  flex-grow: 2;
}

.footer div h3 {
  font-weight: 300;
  margin-bottom: 30px;
  letter-spacing: 1px;
}
.col-1 a {
  display: block;
  text-decoration: none;
  color: var(--farve_mørkebrun);
  margin-bottom: 15px;
}

.col-2 a {
  display: block;
  text-decoration: none;
  color: var(--farve_mørkebrun);
  margin-bottom: 15px;
}

.col-3 a {
  display: block;
  text-decoration: none;
  color: var(--farve_mørkebrun);
  margin-bottom: 15px;
}

.col-4 a {
  display: block;
  height: 600px;
  text-decoration: none;
  color: var(--farve_mørkebrun);
  margin-bottom: 15px;
}

.copyright {
  display: flex;
  justify-content: baseline;
  align-items: right;
}

/* Define variables in the :root */

/* Use your variables on elements along these lines */
/*
:root {
  --contrast: lime;
  --backgr: #000;
}

--- You can use the variables like this ---

 main {
   color: var(--contrast);
   background-color: var(--backgr);
 }
*/
