/**
 * file: css/darkmode.css
 * purpose: styling i darkmode + fælles typografi (day/night)
 **/

/* Remove whitespace on top of certain browsers */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* Jura som basis-font */
  font-family: "Jura", sans-serif;
  font-weight: 400;

  background-color: var(--farve_mørkebrun);
}

html,
body {
  max-width: 100%;
  overflow-x: hidden; /* forhindrer scroll ud af skærmview */
}

/* Design system */

/* Farver */
:root {
  --farve_mørkebrun: #282119;
  --farve_mørkeorange: #a54d27;
  --farve_beige: #e5d8bd;
  --farve_moonlightwhite: #fffdf2;

  --farve_brun: #65371f;
  --farve_orange: #c97338;
}

/* Tekst udseende*/
/*h1
Herooverskrift*/
h1 {
  font-family: "JetBrains Mono", monospace;
  font-size: 48px;
  font-weight: 400; /*regular*/
  text-shadow: var(--farve_mørkebrun) 0px 1px 0px;
}

/*h2*/
.h2-day,
.h2-night {
  font-family: "JetBrains Mono", monospace;
  font-weight: 700; /*bold*/
  font-size: 32px;
}

/* Varianter af Overskrifter i sektioner*/
.h2-day {
  color: var(--farve_mørkebrun);
}

.h2-night {
  color: var(--farve_moonlightwhite);
}

/*h3*/
.h3-hero-underoverskrift,
.h3-influencer-day,
.h3-influencer-night,
.h3-hero-luminaLogo,
.h3-hero-luminaLogo:hover {
  font-family: "jura", sans-serif;
  font-weight: 600; /* semibold */
  font-size: 32px;
}
/* Varianter */
/* underoverskrift (hero)*/
.h3-hero-underoverskrift {
  color: var(--farve_moonlightwhite);
}

/* Influencer – day */
.h3-influencer-day {
  color: var(--farve_mørkeorange);
  margin-bottom: 16px;
  margin-top: 8px;
}

/* Influencer – night */
.h3-influencer-night {
  color: var(--farve_orange);
  margin-bottom: 16px;
  margin-top: 8px;
}

/*lumina audio logo hero*/
.h3-hero-luminaLogo {
  color: var(--farve_moonlightwhite);
}

/* Hove til logo */
.h3-hero-luminaLogo:hover {
  color: var(--farve_beige);
  text-shadow: var(--farve_mørkebrun) 2px 2px 4px;
}

/*h4*/
.h4-ctaDropdown--day:hover,
.h4-ctaDropdown--day,
.h4-ctaDropdown--night,
.h4-ctaDropdown--night:hover,
.h4-pris--night,
.h4-pris--day,
.h4-influencer--day,
.h4-influencer--night {
  font-family: "jura", sans-serif;
  font-weight: 700; /*bold*/
  font-size: 16px;
}

/* Varianter */
.h4-ctaDropdown--day {
  color: var(--farve_moonlightwhite);
}
.h4-ctaDropdown--day:hover {
  color: var(--farve_beige);
}
.h4-ctaDropdown--night {
  color: var(--farve_mørkebrun);
}
.h4-ctaDropdown--night:hover {
  color: var(--farve_brun);
}
.h4-influencer--day {
  color: var(--farve_mørkeorange);
  margin-top: 16px;
}
.h4-influencer--night {
  color: var(--farve_orange);
  margin-top: 16px;
}
.h4-pris--day {
  color: var(--farve_moonlightwhite);
}
.h4-pris--night {
  color: var(--farve_mørkebrun);
}

/*h5*/
.h5-multi--day:hover,
.h5-multi--day,
.h5-multi--night,
.h5-multi--night:hover,
.h5-multi2--night,
.h5-multi2--day,
.h5-influencer--day,
.h5-influencer--night {
  font-family: "jura", sans-serif;
  font-weight: 600; /*semibold*/
  font-size: 16px;
}

/* Varianter */
.h5-multi--day {
  color: var(--farve_moonlightwhite);
}
.h5-multi--day:hover {
  color: var(--farve_beige);
}
.h5-multi--night {
  color: var(--farve_mørkebrun);
}
.h5-multi--night:hover {
  color: var(--farve_brun);
}
.h5-influencer--day {
  color: var(--farve_mørkeorange);
  margin-bottom: 8px;
}
.h5-influencer--night {
  color: var(--farve_orange);
  margin-bottom: 8px;
}
.h5-multi2--night {
  color: var(--farve_moonlightwhite);
}
.h5-multi2--day {
  color: var(--farve_mørkebrun);
}

/*h6*/
.h6-underoverskrifterFeatures--day,
.h6-underoverskrifterFeatures--day:hover,
.h6-underoverskrifterFeatures--night,
.h6-underoverskrifterFeatures--night:hover,
.h6-footerOverskrift--day,
.h6-footerOverskrift--night {
  font-family: "jura", sans-serif;
  font-weight: 700; /*bold*/
  font-size: 24px;
}

/* Varianter */
.h6-underoverskrifterFeatures--night {
  color: var(--farve_moonlightwhite);
  margin-top: 24px;
  margin-bottom: 24px;
}
.h6-underoverskrifterFeatures--night:hover {
  color: var(--farve_beige);
  margin-top: 24px;
  margin-bottom: 24px;
}
.h6-underoverskrifterFeatures--day {
  color: var(--farve_mørkebrun);
  margin-top: 24px;
  margin-bottom: 24px;
}
.h6-underoverskrifterFeatures--day:hover {
  color: var(--farve_brun);
  margin-top: 24px;
  margin-bottom: 24px;
}
.h6-footerOverskrift--day {
  color: var(--farve_moonlightwhite);
  margin-bottom: 8px;
}
.h6-footerOverskrift--night {
  color: var(--farve_mørkebrun);
  margin-bottom: 8px;
}

/*p*/
.p-footerRating--day:hover,
.p-footerRating--day,
.p-footerRating--night,
.p-footerRating--night:hover,
.p-brødtekst--night,
.p-brødtekst--day,
.p-influencerBrødtekst--day,
.p-influencerBrødtekst--night {
  font-family: "Jura", sans-serif;
  font-weight: 400; /* REGULAR */
  font-size: 16px;
}

/* Varianter */
.p-footerRating--night {
  color: var(--farve_moonlightwhite);
  cursor: pointer;
  margin-bottom: 32px;
  margin-top: 0;
}
.p-footerRating--night:hover {
  color: var(--farve_beige);
  cursor: pointer;
  margin-bottom: 32px;
  margin-top: 0;
}
.p-footerRating--day {
  color: var(--farve_mørkebrun);
  cursor: pointer;
  margin-top: 24px;
}
.p-footerRating--day:hover {
  color: var(--farve_brun);
  cursor: pointer;
  margin-top: 24px;
}
.p-influencerBrødtekst--day {
  color: var(--farve_mørkeorange);
  max-width: 688px;
  margin-bottom: 8px;
}
.p-influencerBrødtekst--night {
  color: var(--farve_orange);
  max-width: 688px;
  margin-bottom: 8px;
}
.p-brødtekst--night {
  color: var(--farve_moonlightwhite);
}
.p-brødtekst--day {
  color: var(--farve_mørkebrun);
}
/* Design system slutter*/

/* Header */
/* Header placeres øverst og ligger ovenpå hero-billedet */
header {
  position: absolute; /* gør at headeren flyder ovenpå hero */
  background-color: transparent;
  top: 0;
  width: 100%; /* fuld bredde */
  padding-left: 32px;
  padding-right: 32px;
  z-index: 10; /* sikre at header ligger over alt andet, da Z=dybden*/
  box-sizing: border-box;
}

/* Navigation container – fordeler menu, logo og ikoner */
#topNav {
  display: flex; /* gør elementerne vandrette */
  position: relative;
  justify-content: space-between; /* menu til venstre, ikoner til højre */
  align-items: center; /* centrerer elementer vertikalt */
  padding-top: 40px;
}

/* Menuikon (burger-menu) i venstre side */
.menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* Logo placeres i midten vha. absolute positioning */
#TopLogo {
  position: absolute; /* gør at logoet kan centreres uafhængigt */
  display: flex;
  align-items: center;
  top: 32px; /* afstand ned fra toppen af headeren */
  margin-left: 560px; /* manuel justering til centrering af logo */
}

/* Logoets størrelse */
#TopLogo img {
  height: 97px;
  width: 236px;
}

/* ikoner i højre side */
.ikoner {
  display: flex;
  align-items: center; /* vertikal centrering */
  gap: 16px; /* afstand mellem ikonerne */
}

/* Header slutter*/

/* 1. sektion hero*/
.HeroSektion {
  position: relative; /* gør at indre elementer kan placeres relativt til sektionen */
  height: 800px;

  /* Herobilledet i baggrunden*/
  background-image: url("../images/billeder-fra-figma/herodark.png");
  background-repeat: no-repeat;
  background-attachment: fixed; /* Billedet bliver hvor det er*/
  background-size: cover; /* billedet dækker hele sektionen */
  padding-top: 200px; /* gør at billede også dækker header */
  color: var(--farve_moonlightwhite);
}

.HeroTekst {
  height: 142px; /* højde til tekst-container */
  width: 523px;
  margin-left: 160px; /* placerer teksten til venstre i layoutet */
  margin-top: 104px; /* afstand fra top af hero-sektion */
}

.heroundertekst {
  height: 92px; /* højde til underoverskrift-container */
  width: 523px;
}

/* day/night slider wrapper */
.switch {
  position: relative; /* gør det muligt at placere slider relativt */
  display: inline-block; /* så elementet kun fylder sit indhold */
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0; /* checkboxen er usynlig, men stadig klikbar */
}

/* Slideren (det synlige element) */
.slider {
  position: relative; /* nødvendigt for før-elementet (cirklen) */
  display: flex; /* gør det muligt at placere tekst og cirkel side om side */
  align-items: center; /* centrerer indhold vertikalt */
  justify-content: center; /* centrerer tekst horisontalt */
  gap: 8px; /* afstand mellem tekst og cirkel */
  padding: 8px 16px; /* indre afstand */
  background-color: var(--farve_moonlightwhite); /* Baggrund i night mode*/
  cursor: pointer;
  transition: 0.4s ease-out; /* glidende animation når der skiftes tilstand */
}

.slider:hover {
  background-color: var(--farve_beige);
}

/* Teksten inde i slideren */
.slider .h5-multi--day,
.slider .h5-multi--night {
  margin: 0; /* nulstiller margin så teksten står præcist */
  order: 0; /* sørger for at teksten kommer først */
}

/* Cirklen inde i slider */
.slider:before {
  position: relative; /* holder cirklen inden i slideren */
  content: ""; /* før-element skal have indhold for at vises */
  height: 24px; /* cirklens højde */
  width: 24px; /* Cirklens bredde */
  background-color: var(--farve_mørkebrun); /* Cirklens farve*/
  transition: 0.4s ease-out; /* smooth toggle-animation */
  order: 1; /* sørger for at cirklen kommer efter teksten */
  margin-left: 8px; /* afstand mellem cirklen og teksten */
}

/* Når slideren er tjekket aktiveres (night mode) */
input:checked + .slider {
  background-color: var(
    --farve_moonlightwhite
  ); /* sliderens baggrund forbliver lys */
}

/* Runde sliders hjørner */
.slider.round {
  border-radius: 40px;
}

/* Rund cirkel inde i slider */
.slider.round:before {
  border-radius: 50%;
}

/* Placering af slider i hero sektion */
#slider {
  margin: 0;
  position: absolute; /* fri placering i heroen */
  top: 80%; /* placeret 80% nede i heroen */
  left: 50%; /* centreret horisontalt */
  transform: translate(
    -50%,
    -50%
  ); /* centrerer præcist slideren omkring midten */
}

/* Pil ned-ikonet i bunden af hero */
.pil-ned {
  position: absolute; /* fri placering af pilen */
  margin-left: 40px;
  bottom: 128px;
}
/* 1. sektion hero slut */

/* CTA i sektion 1 og 2*/
.button1,
.button-button2 {
  margin-top: 32px;
  background-color: var(--farve_moonlightwhite); /* lys baggrund i day mode */
  border: none;
  color: var(--farve_brun); /* mørk tekstfarve for kontrast */
  padding: 16px 24px; /* indre afstand — gør knappen større */
  text-align: center; /* centrerer knaptekst */
  font-family: "jura", sans-serif;
  font-weight: 700; /*bold*/
  font-size: 16px;
  display: inline-block; /* knappen fylder kun dens indhold */
  cursor: pointer;
  border-radius: 40px; /*kanterne bliver afrundet*/
}

/* Knap hover effekter */
.button1:hover,
.button-button2:hover {
  background-color: var(--farve_beige);
  color: var(--farve_mørkebrun);
  box-shadow: var(--farve_mørkebrun) 1px 1px 4px;
}

/* 2. Sektion produkt*/
#sektionProdukt {
  width: 100%; /* sektionen fylder hele bredden */
  height: 704px; /* fast højde på sektionen */
}

.container-a {
  display: flex; /* aktiverer flexbox */
  justify-content: center; /* centrerer billede og tekst vandret */
  align-items: center; /* centrerer vertikalt */
  gap: 216px; /* afstand mellem billede og tekst */
  margin-top: 40px;
}

/*placering af produktbillede*/
.billede1 {
  width: 388px;
  height: auto; /* sikrer korrekt proportioner */
  border-radius: 90px; /* Juster denne værdi for at ændre rundingen */
}

/* Tekstkolonnen */
.luminanight {
  max-width: 440px; /* begrænser tekstbredden for læsbarhed */
}

/* Stjerner under produktet */
.stjerner {
  margin-top: 16px;
  margin-left: -8px; /*så stjerner flugter med tekst */
}

/* Container til farveprikker (JS indsætter prikkene) */
#farvePrikker {
  display: flex; /* lægger prikker vandret */
  gap: 8px; /* afstand mellem prikker */
  align-items: center; /* centrerer prikkerne vertikalt */
}

/* Standard farveprik */
.farvePrik {
  width: 16px; /* lille prik */
  height: 16px;
  cursor: pointer;
  transition: 0.2s; /* smooth animation ved hover/valg */
  display: block;
}

/* Når en farve er valgt */
.farvePrik.valgt {
  width: 24px; /* gør prikken større når den er valgt */
  height: 24px;
}

/* Container for farve-navn + farveprikker */
.farvevalg {
  display: flex; /* lægger tekst + prikker vandret */
  justify-content: space-between; /* sikrer afstand mellem dem */
  align-items: center; /* centreret vertikalt */
  height: 48px; /* fast højde for konsistent layout */
}

/*Mellemrum mellem knap og pris*/
.button-button2 {
  margin-right: 10px; /* Tilføjer 10 pixels mellemrum */
}

/* Pris-teksten */
.tekst {
  margin-left: 200px; /* rykker prisen til højre for knappen */
  font-family: "jura", sans-serif;
  font-weight: 700; /*bold*/
  font-size: 16px;
  color: var(--farve_moonlightwhite);
}

/* Vandret linje i sektionen */
.vandret-linje1 {
  border-bottom: 1px solid var(--farve_moonlightwhite); /* Opret en hvid linje */
  width: 440px; /* fast længde */
}
/* 2. sektion slut */

/* 3. Sektion med features */
#sektionFeatures {
  width: 100%;
  height: 1088px; /* fast højde */
}

.tekst-video {
  display: flex; /* gør video og tekstområde liggende ved siden af hinanden */
  align-items: center; /* centrerer vertikalt */
  gap: 104px; /* afstand mellem video og tekst */
  margin-left: 128px;
}

.video {
  width: 496px;
  height: 672px;
  border-radius: 90px; /* runder hjørner */
  overflow: hidden; /* skjuler videoens kanter uden for containeren */
}

/* Teksten der foldes ud når man klikker */
.featureText {
  display: none; /* skjult til at starte med */
  margin-top: 8px;
  margin-bottom: 32px; /* afstand TIL næste linje */
  overflow: hidden;
  padding-left: 40px;
  transition: 0.3s ease;
  max-width: 486px;
}

/* når en feature åbnest */
.feature.open .featureText {
  display: block; /* gør teksten synlig */
  max-height: 200px; /* tekstens udfoldede højde */
}

/* Layout for hver feature-linje (ikon + overskrift + plus-ikon) */
.featureSocial,
.featureDesign,
.featurePower,
.featureSound {
  display: flex; /* gør at ikon + overskrift + plus-ikon ligger horisontalt*/
  align-items: center; /* vertikal centrering */
  margin-inline-start: 40px;
  gap: 8px; /* afstand mellem ikon og tekst */
  cursor: pointer;
}

/* Sound tekst til plus ikon afstand */
.featureSound h6 {
  margin-right: 352px; /* skubber plus-ikonet helt ud til højre */
}

/* Design tekst til plus ikon afstand */
.featureDesign h6 {
  margin-right: 344px; /* skubber plus-ikonet helt ud til højre */
}

/* Power tekst  til plus ikon afstand */
.featurePower h6 {
  margin-right: 360px; /* skubber plus-ikonet helt ud til højre */
}

/* Social tekst til plus ikon afstand */
.featureSocial h6 {
  margin-right: 208px; /* skubber plus-ikonet helt ud til højre */
}

/* Vandret linje mellem features */
.vandret-linje2 {
  border-bottom: 1px solid var(--farve_moonlightwhite); /* Opret en hvid linje */
  width: 566px;
  margin-top: 8px;
  margin-bottom: 8px;
}

/* Node img */
.night-node-billede {
  width: 100%;
  display: flex;
  justify-content: center; /* centrerer billedet i midten */
  margin-top: 48px;
}
/* 3. sektion slut */

/* 4. sektion med influencer Luminate yourself */
#LuminateYourselfSektion {
  width: 100%;
  height: 744px;
  margin-top: 8px;
  margin-bottom: 24px;
}

.SHARE {
  display: flex; /* kolonne-layout */
  flex-direction: column; /* tekst står oven på hinanden */
  justify-content: center; /* centrerer teksten vertikalt */
  align-content: flex-start;
  margin-left: 48px;
}

.Luminatesektion {
  display: flex; /* centrerer horisontalt og vertikalt */
  justify-content: center; /* I midten horisontalt */
  align-items: center; /* i midten vertikalt */
}

.scroll {
  width: 100%; /* scroll-området fylder hele bredden */
  height: 450px; /* fast højde til billedrækken */
  margin-left: 24px;

  overflow-x: auto; /* aktiverer vandret scroll */
}

.scroll .scroll-elementer {
  display: flex; /* placerer billederne vandret */
  width: max-content; /* container vokser efter indholdets bredde */
}

.scroll img {
  flex: 0 0 auto; /* billederne må ikke krympe */
  width: 344px; /* ens billedstørrelse */
  height: 344px;
  margin: 16px; /* mellemrum mellem billederne */
  object-fit: contain; /* bevarer billedets proportioner */
}

.pil-højre {
  position: relative; /* placerer pilen i forhold til scroll-containeren */
  bottom: 288px; /* løfter pilen op over scroll-området */
  margin-left: 1364px; /* skubber pilen mod højre */
}
/* 4. sektion slut */

/*Footer*/
.footer {
  width: 100%;
  padding: 40px 80px; /* indre afstand rundt om indholdet */
  background: var(--farve_moonlightwhite);

  display: grid; /* grid layout giver rene kolonner */
  grid-template-columns: 1fr 1fr 1fr 1fr; /* Definerer 4 kolonner og er lige bredde */
}

.col-4 {
  display: flex; /* kolonnen bliver fleksibel */
  flex-direction: column; /* elementerne står lodret under hinanden */
}

.copyright {
  margin-top: auto;
}
/* Footer slut*/
